<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des emplois du temps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <style>

    </style>
</head>
<body>
    <div class="centerbuttons">
        <h1>Emplois du temps ─ ESIREM 1A</h1>
        {% for item in elements %}
            <a href="edt/?group={{ item.name }}"><button>{{ item.name }}</button></a>
        {% endfor %}
    </div>
</body>
</html>
